/* You can add global styles to this file, and also import other style files */
@import "bootstrap-icons/font/bootstrap-icons.scss";


body{
    height: 100dvh;
    color: white !important;
    background-color: #6643b5 !important;
}